body {
  background: #ebf2ff;
  <!-- background color, light blue -->
}

h1 {
  color: #a354ba;
  text-align: center;
}

h2 {
  color: #a354ba;
  text-align: center;
}

img {
 <!-- width: 500px; -->
}
