body {
  background: #ebf2ff;
  <!-- background color, light blue -->
}

h1 {
  color: #a354ba;
  text-align: center;
}

h2 {
  color: #ba6ac9;
  text-align: left;
}

img {
  width: 50px;
  border: 4px solid black;
}

/* .container-1 {
  width: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-between;
} */
