body {
  background: #ebf2ff;
  <!-- background color, light blue -->
}

h1 {
  color: red;
  text-align: center;
}

img {
 <!-- width: 500px; -->
  border: 5px solid black;
  margin: 1000px;
  
  border-radius: 10px;
}
