body {
  background: #ebf2ff;
  <!-- background color, light blue -->
}

h1 {
  color: #a354ba;
  text-align: center;
}

h2 {
  color: #ba6ac9;
  text-align: left;
}

img {
 <!-- width: 500px; -->
}

.container-1 {
  width: 50px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-between;
}
